.feedback-hero {
  padding-top: rem(50);
  padding-bottom: rem(117);
  position: relative;

  @include tablets() {
    padding-bottom: rem(50);
  }

  .lecturer-hero__bg {
    top: rem(-55);
    width: rem(600);
  }

  .section-title {
    margin-bottom: rem(40);
  }

  .hero-find {
    max-width: rem(700);
  }

  .hero-find__form {
    

    @media (min-width: 768px) {
      padding-right: rem(127);
    }
  }

  .hero-find__submit-text {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .hero-find__submit {
    
    @media (min-width: 768px) {
      width: rem(83);
      background: url("../img/icons/search.svg") no-repeat 50% / rem(32), #FCBF47;
    }
  }
}

.feedback-section {
  background: #FAFDFF;
  padding-top: rem(70);
  padding-bottom: rem(124);

  @include tablets() {
    padding-bottom: rem(70);
  }

  .section-title {
    line-height: 0.6;
    margin-bottom: rem(55);

    @include phones-lg() {
      line-height: 1;
    }

    span {
      font-size: rem(24);
    }
  }
}

.feedback-form {
  max-width: rem(942);

  &__row {
    display: flex;
    flex-wrap: wrap;

    @include tablets() {
      flex-direction: column;
    }

    > * {
      width: rem(380);

      @include tablets() {
        width: 100%;
      }

      &:not(:last-child){
        margin-right: rem(30);
      }
    }
  }

  &__field {
    display: block;
    position: relative;
    margin-bottom: rem(38);

    @include tablets() {
      margin-bottom: rem(25);
    }

    &-error {
      position: absolute;
      top: calc(100% + #{rem(10)});
      left: 0;
      width: 100%;
      @include fz(12, 15);
      color: $red;
      font-weight: normal;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;

      @include tablets() {
        top: calc(100% + #{rem(3)});
      }
    }
  }

  &__control {
    display: block;
    outline: none;
    border: 0;
    width: 100%;
    height: rem(90);
    padding: 0 rem(38);
    font-weight: bold;
    @include fz(16, 20);
    color: $JacksonsPurple;
    background: #FFFFFF;
    box-shadow: rem(0) rem(0) rem(24) rgba(159, 180, 243, 0.27);
    border-radius: rem(10);
    border: 2px solid #FFF;

    @include tablets() {
      height: rem(64);
      padding: 0 rem(16);
      border-radius: rem(10);
      box-shadow: 0 0 rem(24) rgba(159, 180, 243, 0.27);
      background-color: $white;
      @include fz(14, 18);
    }

    &::placeholder { 
      color: #B8C6ED;
    }

    &.error {
      border: 2px solid #E23D71;

      & ~ .feedback-form__field-error {
        opacity: 1;
      }
    }

    
  }

  textarea.feedback-form__control {
    height: rem(196);
    width: 100%;
    resize: vertical;
    padding-top: rem(45);
    padding-bottom: rem(45);
  }

  &__submit {
    font-family: 'Geometria';
    width: rem(188);
    height: rem(72);
    background: $Casablanca;
    border-radius: rem(10);
    font-weight: bold;
    @include fz(18, 23);
    color: $white;
    border: 0;
    outline: none;
    transition: background 0.2s;

    &:hover {
      background: $PinkSalmon;
    }

    @include tablets() {
      position: static;
      width: 100%;
      height: rem(64);
      @include fz(16, 18);
    }
  }
}

.feedback-result {
  padding: rem(40);
  border-radius: rem(10);
  flex-wrap: wrap;
  max-width: rem(943);
  display: none;

  &__cover {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets() {
      flex-direction: column;
    }
  }

  &__text {
    font-weight: bold;
    font-size: rem(16);
    line-height: rem(21);
    color: #292D96;
    padding-right: rem(25);
    margin: rem(25) 0;

    @include tablets() {
      margin-top: 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Geometria';
    width: rem(188);
    height: rem(72);
    background: $Casablanca;
    border-radius: rem(10);
    font-weight: bold;
    @include fz(18, 23);
    color: $white;
    border: 0;
    outline: none;
    transition: background 0.2s;

    &:hover {
      background: $PinkSalmon;
    }

    @include tablets() {
      width: 100%;
      height: rem(64);
      @include fz(16, 18);
    }
  }

  &.succsess {
    background: #E9EFFF;
  }

  &.error {
    background: #FFD6D9;
  }
}