.lecturer-hero {
  padding-top: rem(40);
  padding-bottom: rem(65);
  overflow: hidden;
  min-height: rem(385);

  @include tablets() {
    padding-top: rem(25);
    padding-bottom: rem(40)
  }

  .breadcrumbs {
    margin-bottom: rem(50);

    @include tablets() {
      margin-bottom: rem(25);
    }
  }

  &__container {
    position: relative;
  }

  &__inner {
    position: relative;
    z-index: 2;
  }

  &__bg {
    position: absolute;
    top: rem(-85);
    right: rem(40);
    width: rem(503);

    @include tablets() {
      top: 0;
      right: 0;
      max-width: rem(350);
      width: 100%;
    }

    &-inner {
      width: 100%;
      padding-top: 60%;
     
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}

.lecturer-info {
  display: flex;
  align-items: center;

  @include tablets() {
    flex-flow: column;
    align-items: flex-start;
  }

  &__photo {
    width: rem(198);
    height: rem(198);
    flex-shrink: 0;

    @include tablets() {
      width: rem(141);
      height: rem(141);
      margin-bottom: rem(40);
    }

    img {
      border-radius: 50%;
      width: 100%;
    }
  }

  &__text {
    padding-left: rem(93);

    @include tablets() {
      padding-left: 0;
    }

    h2 {
      font-weight: bold;
      font-size: rem(48);
      line-height: 109%;
      margin-bottom: rem(20);
      color: #292D96;

      @include tablets() {
        font-size: rem(20);
        margin-bottom: rem(15);
      }
    }

    p {
      font-size: rem(24);
      line-height: rem(31);
      color: #7084C9;
      max-width: rem(650);

      @include tablets() {
        font-size: rem(18);
        line-height: rem(23);
      }
    }
  }

  &__position {
    font-weight: 450;
    font-size: rem(16);
    line-height: rem(21);
    color: #7084C9;
    margin-bottom: rem(30);

    @include tablets() {
      font-size: rem(14);
      line-height: rem(18);
      margin-bottom: rem(25);
    }
  }
}

.lectures-block--lecturer {
  padding-bottom: rem(60);

  @include tablets() {
    padding-top: rem(50);
    padding-bottom: rem(30);
  }

  .section-title {
    margin-bottom: rem(60);
    display: block;

    @include tablets() {
      display: none;
    }
  }

  .lecture-cards {
    margin-bottom: rem(50);

    @include tablets() {
      margin-bottom: rem(10);
    }
  }
}