
.main--lectures {
  padding-top: rem(148);
  background-color: #F4F7FC;

  @include tablets() {
    padding-top: rem(64);
  }
}

.hero-find--lectures {
  width: 100%;
  max-width: rem(856);

  // .hero-find__title {
  //   display: none;

  //   @include tablets() {
  //     display: block;
  //   }
  // }
}

.lectures-hero {
  padding: rem(20) 0 rem(30);

  @include tablets() {
    padding: 0;
  }

  .section-title {
    margin: rem(28) 0 rem(38);
  }

  .hero-find {
    margin-bottom: rem(64);

    @include tablets() {
      width: auto;
      margin: 0 rem(-15);
      background-color: #fff;
      padding-bottom: rem(32);
    }
  }

  .hero-find__form {
    @include tablets() {
      padding: rem(26) rem(15);
      box-shadow: 0 0 rem(24) rgba(159, 180, 243, 0.27);
      border-radius: 0;
    }
  }

  .hero-find__check {
    @include tablets() {
      margin: rem(24) rem(15) 0;
      width: calc(100% - #{rem(30)});
    }
  }

  .categories {
    @include tablets() {
      display: none;
    }
  }

  &__container {
    position: relative;
  }

  &__inner {
    position: relative;
  }

  &__head {
    @include tablets() {
      background: url("../img/images/list-hero-bg-mob.svg") no-repeat 50%/cover;
      display: flex;
      margin: 0 rem(-15);
      padding: 0 rem(15);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: rem(800);

    @include tablets() {
      display: none;
    }

    &-inner {
      width: 100%;
      padding-top: 48.39%;

      // @include tablets() {
      //   padding-top: 31.56%;
      //   background: url("../img/images/list-hero-bg-mob.svg") no-repeat 50%/100%;

      //   img {
      //     display: none;
      //   }
      // }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }
}

.lectures-block {
  background-color: #FAFDFF;
  padding: rem(62) 0 rem(75);

  @include tablets() {
    padding: rem(24) 0 rem(26);
  }

  .section-title {
    display: none;
    margin-bottom: rem(24);

    @include tablets() {
      display: block;
    }
  }

  .lecture-cards {
    margin-bottom: rem(116);

    @include tablets() {
      margin-bottom: rem(24);
    }
  }
}

.pagination {
  &__ul {
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets() {
      display: none;
    }
  }

  &__li {
    width: rem(45);
    height: rem(45);
    margin-right: rem(8);

    &:last-child {
      margin-right: 0;
    }

    & > a {
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: rem(2) solid #98A7EA;
      font-weight: bold;
      @include fz(16, 43);
      color: #2C54C4;
      text-align: center;
      transition: background 0.2s, color 0.2s, border 0.2s;

      &.active,
      &:hover {
        background: #2C54C4;
        border: rem(2) solid #2C54C4;
        color: $white;
      }
    }
  }

  &-next {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem(48);
    border-radius: rem(100);
    background: #2C54C4;
    font-weight: bold;
    @include fz(14, 18);
    color: $white;
    padding: 0 rem(18);
    white-space: nowrap;
    transition: background 0.2s;

    @include phones-lg() {
      flex-grow: 1;
    }

    &:hover {
      background: #292D96;
    }

    &:after {
      content: "";
      width: rem(16);
      height: rem(16);
      margin-left: rem(16);
      background: url("../img/icons/right-arrow-white.svg") no-repeat 50%/100%;
    }

    &:disabled,
    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &-mob {
    display: none;
    align-items: center;
    justify-content: center;

    @include tablets() {
      display: flex;
    }

    &__info {
      font-weight: bold;
      @include fz(14, 18);
      color: #98A7EA;
      margin-left: rem(16);
    }
  }
}
