
.main--lectures {
  padding-top: rem(148);
  background-color: #F4F7FC;

  @include tablets() {
    padding-top: rem(64);
  }
}

.lecture-hero {
  padding: rem(36) 0 rem(70);
  overflow: hidden;

  @include tablets() {
    padding: rem(26) 0 rem(40);
  }

  &__container {
    position: relative;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: rem(40);
    width: rem(392);

    @include tablets() {
      top: rem(-46);
      right: rem(-94);
      width: rem(274);
    }

    @include phones-lg() {
      right: rem(-94);
      width: rem(174);
    }

    &-inner {
      width: 100%;
      padding-top: 130.87%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  &__bg2 {
    position: absolute;
    top: 0;
    right: rem(40);
    width: rem(468);

    @include tablets() {
      top: 0;
      right: rem(-54);
      width: rem(274);
    }

    @include phones-lg() {
      width: rem(204);
    }

    &-inner {
      width: 100%;
      padding-top: 88.03%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__title {
    font-weight: bold;
    @include fz(48, 52);
    color: #292D96;
    margin-bottom: rem(24);
    width: 100%;
    max-width: rem(800);

    @include tablets() {
      max-width: rem(500);
      @include fz(32, 34);
    }

    @include phones-lg() {
      @include fz(22, 24);
    }
  }

  &__info {
    font-weight: 600;
    @include fz(16, 21);
    color: #7084C9;
    margin-bottom: rem(48);
    display: inline-block;

    @include phones-lg() {
      @include fz(14, 18);
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    @include tablets() {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    .btn {
      margin-right: rem(64);
    }

    .zoom-btn,
    .team-btn {
      @include tablets() {
        margin-bottom: rem(24);
      }
    }
  }

  .breadcrumbs {
    margin-bottom: rem(57);

    @include tablets() {
      margin-bottom: rem(22);
    }
  }

  .badges {
    margin-bottom: rem(36);

    @include tablets() {
      margin-bottom: rem(22);
    }
  }
}

.lecture-block {
  padding: rem(56) 0;
  background: #FAFDFF;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablets() {
      flex-direction: column;
    }
  }

  &__tesis {
    flex-grow: 1;
    padding-right: rem(30);

    @include tablets() {
      margin-bottom: rem(36);
      padding-right: 0;
    }

    li {
      @include fz(24, 31);
      color: #232661;
      margin-bottom: rem(32);
      padding-left: rem(36);
      position: relative;

      @include desktop-sm() {
        @include fz(20, 26);
      }

      @include tablets() {
        @include fz(18, 24);
        padding-left: rem(24);
        margin-bottom: rem(24);
      }

      @include phones-lg() {
        @include fz(16, 21);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: rem(7);
        left: 0;
        width: rem(15);
        height: rem(15);
        border-radius: 50%;
        border: rem(3) solid #2C54C4;

        @include tablets() {
          width: rem(11);
          height: rem(11);
          top: rem(5);
        }
      }

      h4 {
        font-weight: 600;
      }

      p {
        font-weight: normal;
      }
    }
  }
}

.lector {
  width: 100%;
  max-width: rem(455);

  @include tablets() {
    max-width: rem(320);
  }

  &__inner {
    padding: rem(38) rem(72) rem(78) rem(56);
    background: #F4F7FC;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablets() {
      padding: rem(36) rem(20);
    }
  }

  &__ava {
    width: 100%;

    &-inner {
      border-radius: 50%;
      padding-top: 100%;
      overflow: hidden;
      position: relative;
      background-color: #CFE0EA;

      &::before {
        content: "";
        position: absolute;
        width: rem(116);
        height: rem(116);
        top: 50%;
        left: 50%;
        margin-top: rem(-58);
        margin-left: rem(-58);
        background: url("../img/icons/doctor-ico.svg") no-repeat 50%/100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include object-fit(cover);
      }
    }
  }

  &__info {
    background: $white;
    box-shadow: 0 0 rem(24) rgba(159, 180, 243, 0.27);
    border-radius: 0 rem(20) rem(10) rem(20);
    padding: rem(16) rem(32);
    margin: rem(-32) 0 rem(24);
    position: relative;
    color: #7084C9;

    small {
      font-weight: normal;
      @include fz(14, 18);
    }
  }

  &__name {
    font-weight: 500;
    @include fz(16, 21);
    white-space: nowrap;
  }

  &__bio {
    width: 100%;
    max-width: rem(245);
    font-weight: normal;
    @include fz(14, 18);
    color: #7084C9;
  }
}

.lecure-catigories {
  padding: rem(60) 0 rem(56);

  @include tablets() {
    padding: rem(28) 0;
  }
}

.breadcrumbs {
  &__ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__li {
    margin-right: rem(16);
    position: relative;
    font-weight: 500;
    @include fz(14, 18);

    &::after {
      content: "/";
      position: absolute;
      top: 50%;
      right: rem(-13);
      margin-top: rem(-9);
      color: #98A7EA;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }

    span,
    a {
      color: #98A7EA;
    }
  }
}

.lecture-hero--lecture-info {
  .lecture-hero__cover {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(40);
    padding-bottom: rem(45);

    @include tablets() {
      flex-flow: column;
      align-items: flex-start;
      padding: 0;
    }

    .lecture-hero__title {
      padding-right: rem(80);
      margin-bottom: 0;

      @include tablets() {
        margin-bottom: rem(40);
        padding-right: 0;
      }
    }

    .keen-hearts-img {
      max-width: 33.76%;

      @include tablets() {
        max-width: 60%;
      }
    }
  }
}

.lecture-block__article {

  @include fz(24, 31);
  color: #232661;
  max-width: rem(910);

  @include desktop-sm() {
    @include fz(20, 26);
  }

  @include tablets() {
    @include fz(18, 24);
  }

  p {
    margin-bottom: rem(40);

    @include tablets() {
      margin-bottom: rem(20);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
  strong {
    font-weight: 600;
  }
}

.attention-block {
  padding-top: rem(50);
  padding-bottom: rem(75);
  background: #F4F7FC;

  @include tablets() {
    padding-top: rem(35);
    padding-bottom: rem(55);
  }

  &__cover {
    display: flex;
    align-items: center;
    max-width: rem(1020);
    font-style: italic;
    font-weight: normal;
    @include fz(24, 31);
    color: #E23D71;

    @include desktop-sm() {
      @include fz(20, 26);
    }

    @include tablets() {
      @include fz(18, 24);
      flex-flow: column;
      align-items: flex-start;
    }

    &:before {
      content: "!";
      font-weight: 600;
      font-size: rem(36);
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E23D71;
      width: rem(61);
      height: rem(61);
      border-radius: 50%;
      margin-right: rem(32);
      border: rem(3) solid #E23D71;
      flex-shrink: 0;
      font-style: normal;


      @include tablets() {
        font-size: rem(34);
        width: rem(50);
        height: rem(50);
        margin-right: 0;
        margin-bottom: rem(32);
      }
    }
  }
}